.MuiAutocomplete-inputRoot {
  font-size: 1.3rem !important;
}

.MuiAutocomplete-root .MuiFormLabel-root.MuiInputLabel-root {
  font-size: 1.3rem !important;
}
#salesDueDates {
  width: 55% !important;
}
