/**
 * All Google Font imports should be here as **ONE LINK**
 * Font List goes here
 * 1. 'Calistoga', cursive;
 */
@import url("https://fonts.googleapis.com/css?family=Calistoga&display=swap");

/* 
  Root HTML styles
 */
:root {
  /* COLOR VARIABLES */
  --white-color: #fcfcfc;
  --dark-color: #222;
  --light-color: #efefef;

  /* VARIABLES FROM "ANTD" */
  --primary-color: #1890ff; /* primary color for all components */
  --link-color: #1890ff; /* link color */
  --success-color: #52c41a; /* success state color */
  --warning-color: #faad14; /* warning state color */
  --error-color: #f5222d; /* error state color */
  --font-size-base: 14px; /* major text font size */
  --heading-color: rgba(0, 0, 0, 0.85); /* heading text color */
  --text-color: rgba(0, 0, 0, 0.65); /* major text color */
  --text-color-secondary: rgba(0, 0, 0, 0.45); /* secondary text color */
  --disabled-color: rgba(0, 0, 0, 0.25); /* disable state color */
  --border-radius-base: 4px; /* major border radius */
  --border-color-base: #d9d9d9; /* major border color */
  --box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); /* major shadow for layers */

  /* FONT FAMILY VARIABLES */
  --title-font-family: "Calistoga", cursive;
  font-size: 16px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.body-container {
  display: flex;
  height: calc(100% - 50px);
}

.column-filter-icon {
  cursor: pointer;
}

.main-route {
  flex: 1;
  min-height: 100%;
}

.right-menu-item {
  margin-left: auto;
  cursor: auto;
}

.side-menu-route {
  min-width: 200px;
  background-color: var(--light-color);
  min-height: 100%;
}

.side-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--light-color);
}

.side-menu {
  flex: 1;
  overflow: scroll;
  position: relative;
}

.side-menu-copyright {
  position: absolute;
  bottom: 0;
  height: 70px;
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
}

.side-menu-copyright p {
  margin: 0;
  padding: 1px;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-container {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 30px;
}

/* .login-form-container {
  background-color: var(--white-color);
  max-width: 350px;
  margin: auto;
  box-shadow: var(--dark-color) 10px 10px 50px;
  padding: 25px;
  border-radius: 5px;
} */

.login-title {
  text-align: center;
  letter-spacing: 0.2rem;
  font-family: var(--title-font-family);
}

.login-logo {
  width: 100%;
  max-height: 120px;
  overflow: hidden;
  margin: 10px 0;
}
.username {
  font-weight: bold;
}

.password {
  font-weight: bold;
}

.logo-image {
  width: 100%;
}

.login-forgot-password {
  text-align: right;
  padding: 2px 0;
}

.divider {
  border-width: 0.5px;
  border-color: var(--light-color);
}
.btn-div {
  margin: 50px 0;
  text-align: center;
}
.button {
  width: 250px;
}

.table-in-icon {
  font-size: 1.2rem;
}
.active-icon {
  color: var(--error-color) !important;
}

.inactive-icon {
  color: var(--success-color) !important;
}

.tableBuilder-column-filter {
  text-align: right;
  font-weight: bold;
  margin: 10px;
}

.tableBuilder-search-input {
  width: 190px;
  margin: 5px;
  display: block;
}

.tableBuilder-search-buttons {
  width: 90px;
  margin: 5px;
}

.tableBuilder-search-popup {
  padding: 8px;
}

.tableBuilder-search-icon {
  color: var(--primary-color) !important;
}

.tableBuilder-serch-highlighter {
  background-color: var(--success-color);
  padding: 0;
}
