.login-form {
  width: 100%;
 max-width: 330px;
 padding: 15px;
 margin: auto;
 height: 100%;
}

.center {
  text-align: center;
}

.logo {
  margin-bottom: 33px;
}

.Uname {
  margin-bottom: 5px;
}


